/bin
/build
/.gradle
/out
.DS_Store
*~
classes
code
templib
SConstruct
.*dblite
pom.xml
.project
.classpath
.settings
.idea
*.iml
*.ipr
*.iws
*-gc.log
gradle.properties
src/jmh/generated_tests
src/jcstress/generated_tests
