name: Generate Github Pages from ASCIIDoc

on:
  push:
    branches: [ master ]

permissions:
  contents: write

jobs:
  checkout-and-deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 11 ]
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Set up java
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
      - name: Build ASCIIDoc with Gradle
        run: ./gradlew clean asciidoctor
      - name: Simple deploy with git
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: build/docs/asciidoc/en/
